* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h2,
h4 {
  text-transform: uppercase;
}

h4 {
  color: #cf1430;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

p:not(:last-child) {
  margin-bottom: 40px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.main {
  background-color: #0e1414;
  min-height: 100vh;
  padding: 200px 50px;
}

.needs {
  display: flex;
  padding-bottom: 230px;
}

.image-grid {
  flex: 0 0 66%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 24px;
  grid-template-areas: "image-1 image-2" "image-1 image-3";
}

.image-grid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-1 {
  grid-area: image-1;
}

.image-2 {
  grid-area: image-2;
  object-fit: cover;
}

.image-3 {
  grid-area: image-3;
  object-fit: cover;
}

.needs-content {
  padding-left: 20px;
}

.needs-heading {
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
}

.be-mindful {
  margin-bottom: 16px;
}

.p-sb {
  font-weight: 600;
}

.latest-heading {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 52px;
}

.columns {
  display: flex;
  gap: 24px;
}

.col {
  flex: 1 0 0;
}

.col-inner,
.col-inner span {
  display: block;
}

.col-inner {
  text-decoration: none;
}

.col-heading {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 12px;
  text-decoration: none;
}

.col-img {
  display: block;
  margin-bottom: 26px;
  border-bottom: 4px solid #cf1430;
}

.col-img img {
  display: block;
  width: 100%;
}

.col-body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  color: #bbbbbb;
}

.read-more {
  display: inline-block !important;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 6px;
  margin-top: 26px;
  border-bottom: 1px solid #cf1430;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 50px 24px;
  }
  .needs {
    flex-wrap: wrap;
    padding-bottom: 140px;
  }
  .image-grid {
    flex: 0 0 100%;
  }
  .needs-content {
    padding-top: 50px;
    padding-left: 0;
  }
}
@media screen and (max-width: 640px) {
  .columns {
    flex-wrap: wrap;
    gap: 50px;
  }
  .col {
    flex: 0 0 100%;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 14px;
  }
  .needs {
    padding-bottom: 100px;
  }
  .needs-heading {
    font-size: 18px;
  }
  .latest-heading {
    font-size: 24px;
  }
  .col-content h3 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .col-body {
    font-size: 14px;
  }
  .read-more {
    font-size: 14px;
  }
}